@font-face {
	font-family: texticons;
	font-weight: normal;
	font-style: normal;
	src: url('https://at.alicdn.com/t/font_702773_g9f89om4v3j.ttf') format('truetype');
}

.index {
	flex: 1;
	width: 750upx;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 16px;
	padding-right: 16px;
	box-sizing: border-box;
}

.grid-c-01,
.grid-c-02,
.grid-c-03,
.grid-c-04,
.grid-c-05,
.grid-c-06,
.grid-c-07,
.grid-c-08,
.grid-c-09,
.grid-c-10,
.grid-c-11,
.grid-c-12 {
	position: relative;
	width: 100%;
    padding-left: 16px;
    padding-right: 16px;
	box-sizing: border-box;
}

.grid-c-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.grid-c-fill {
	flex-basis: 0;
	flex: 1;
	flex-grow: 1;
	max-width: 100%;
}

.grid-c-none {
	flex: none;
}

.grid-c-01 {
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.grid-c-02 {
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.grid-c-03 {
	flex: 0 0 25%;
	max-width: 25%;
}

.grid-c-04 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.grid-c-05 {
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}

.grid-c-06 {
	flex: 0 0 50%;
	max-width: 50%;
}

.grid-c-07 {
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.grid-c-08 {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.grid-c-09 {
	flex: 0 0 75%;
	max-width: 75%;
}

.grid-c-10 {
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}

.grid-c-11 {
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}

.grid-c-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.panel {
	position: relative;
	border-radius: 10upx;
	overflow: hidden;
	flex-direction: column;
	background-color: #FFFFFF;
	margin-bottom: 10px;
}
